html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 520px;
    margin: 0 auto;
    position: relative;
}

h1 {
    margin: 0;
    line-height: 1;
}

a {
    color: #000000;
}

body>button {
    width: 60%;
    margin: 5px 0;
    padding: 8px;
}

.webrtc-title {
    text-align: center;
    margin-bottom: 40px;
}

.webrtc-demo {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
}

.video-wrapper {
    position: relative;
}

#localVideo {
    width: 100%;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

#webrtcRecord {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 15%;
    height: 0;
    padding: 0 0 15% 0;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: red;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#webrtcRecord:disabled {
    background-color: gray;
}

#webrtcRecord.recording {
    border-radius: 8px;
}

#webrtcDownload {
    position: absolute;
    bottom: 80px;
    right: 0;
    color: red;
    padding: 8px 10px;
    margin-right: 10px;
}

#webrtcClose {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
}

#webrtcDuration {
    position: absolute;
    bottom: 40px;
    right: 0;
    color: red;
    padding: 8px 10px;
    margin-right: 10px;
    font-weight: bold;
    line-height: 1;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 4px;
}

#webrtcCanvas {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

#faceScore,
#faceTip {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: red;
    padding: 8px 10px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 4px;
    line-height: 1;
}

#faceScore.yellow {
    color: yellow;
}

#faceScore.green {
    color: green;
}